/project.env
/.vagrant

/logs/*.log
/certs/*.pem
/certs/*.key

/.mailhog.installed
/.phpmyadmin.installed
/.redis-commander.installed
/.mongo-express.installed
/.pm2.installed
/.swagger.installed
/.supervisor.installed

/swagger/
/front/
/back/

/install/extras/vendor/
/install/extras/composer.json
/install/extras/composer.lock
/install/extras/phpinfo.php
